
#ts{
  
  
}

#ts:link, #ts:visited {
  background-color: #f44336;
  color: white;
  
  text-align: center;
  text-decoration: none;
  padding-top:20px;
  padding-bottom: 20px;
  margin: 15px;
  font-size: 25px;
 
}

#ts:hover, #ts:active {
  background-color: red;
}